<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\log.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <preserveLogFileNameExtension value="true" />
      <staticLogFileName value="false" />
      <!--<maximumFileSize value="1MB" />
      <maxSizeRollBackup value="10" />
      <staticLogFileSize value="true" />-->
      <datePattern value="_yyyy-MM-dd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline ************* %date [%thread] %level %logger **************  %newline %message %newline% %exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  
  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="SenderEmail" value="admin@tradiix.com" />
    <add key="SenderHash" value="jfatgvswthooxafk" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="HostPort" value="587" />

    <add key="ReceiverEmail" value="admin@tradiix.com" />
    <add key="ReceiverHash" value="nmgrsvbnalqpmgea" />
    <add key="EmailHost" value="smtp.gmail.com" />
    <add key="HostPort" value="587" />

    <!--CoinPayment Settings-->
    <add key="CoinPaymentUrl" value="https://www.coinpayments.net/index.php" />
    <add key="PublicKey" value="52acaf137785ee2cf0b97f17e95949ff9433ed4405290dcd42237eaac96fb3c9" />
    <add key="PrivateKey" value="39c90933e11caB6751a5Fea6b0190bbBf45FbB0b191f2B22972FAD284cebA513" />
    <add key="MerchantId" value="68e5db2609b76a2000db2471a3d68473" />
    <add key="IpnSecret" value="f7XVkifq9TET" />
    <add key="CompanyCryptoWallet" value="TAfabv4ii5ceA2dP83PtBgEjhaQSumgGx1" />
    <!--<add key="CompanyCryptoWallet" value="TAHoAYMDpQsRsTpnpmRTcn74Vy872rXt15" />-->
    <!--<add key="ToCurrency" value="LTCT" />-->
    <add key="ToCurrency" value="TRX" />


	  <!--<add key="CoinPaymentUrl" value="https://www.coinpayments.net/index.php" />
	  <add key="PublicKey" value="220a50e0c04514457b26e51addb408a8f02e0c33c7eaef0f83e9d920209f3f37" />
	  <add key="PrivateKey" value="b574af928C1FCC9077770C059Eee4569Cb5930a8541D93c1b51f23F5400c75ef" />
	  <add key="MerchantId" value="4e32d9c4ef0efe624da20eaeb94d08b9" />
	  <add key="IpnSecret" value="875%$%#@9211" />
	  <add key="CompanyCryptoWallet" value="TAfabv4ii5ceA2dP83PtBgEjhaQSumgGx1" />
	  --><!--<add key="CompanyCryptoWallet" value="TAHoAYMDpQsRsTpnpmRTcn74Vy872rXt15" />--><!--
	  <add key="ToCurrency" value="LTCT" />-->
	  
    <!-- Captcha settings-->
    <add key="CaptchaSiteKey" value="6Lc29qspAAAAAI_gVTCyv5rAamSYYj1eQgeAJCvs"/>
    <add key="CaptchaSecretKey" value="6Lc29qspAAAAAAfgYGQ0AIZfIYNXxzv9UTATJsEC"/>
  </appSettings>
  <!--<system.net>
    <mailSettings>
      <smtp from="info@calibresol.com">
        <network host="relay-hosting.secureserver.net" port="25" />
      </smtp>
    </mailSettings>
  </system.net>-->
  <connectionStrings>
     <add name="LMSBackOfficeConnectionString" connectionString="Data Source=fouraprilrestore.c3iqk6wiqyda.me-central-1.rds.amazonaws.com;Initial Catalog=LMSBackOffice;Persist Security Info=True;User ID=iconxadmin;Password=@Xu7K4^xNy~212HF#+J6;Connect Timeout=30000" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
 <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="MSCaptcha.captchaImageHandler" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.captchaImageHandler, MSCaptcha" resourceType="Unspecified" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <!-- THIS -->
    <!-- Start Security Headers  -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>
    <httpProtocol>
      <customHeaders>
        <add name="Strict-Transport-Security" value="max-age=31536000" />
        <add name="X-XSS-Protection" value="1; mode=block" />
        <!--<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';" />-->
       <!-- <add name="X-Frame-Options" value="DENY" /> -->
        <!--we can remove this manual insertion from here and can apply it via IIS-->
        <add name="Access-Control-Allow-Origin" value="SAMEORIGIN" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS, PUT, DELETE" />
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Referrer-Policy" value="no-referrer" />
        <add name="Feature-Policy" value="geolocation 'none'; microphone 'none'; camera 'none';" />
        <add name="Permission-Policy" value="geolocation=(), microphone=(), camera=()" />
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <!--<defaultDocument>
			<files>
				<clear />
				<add value="Main.aspx" />
			</files>
		</defaultDocument>-->
    <!-- End Security Headers -->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
